* {
    box-sizing: border-box;
    font-family: Arial;
}

.main {
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 700px;
    border: 1px solid black;
}

.tetris {
    width: 500px;
    height: 900px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: rgba(33, 66, 95, 0.5);
}

.excel {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(119, 57, 57, 0.856);
}

.figure, .set {
    background-color: rgb(242, 245, 59);
}

input {
    display: block;
    margin: 30px auto;
    font-size: 30px;
    padding: 10px;
}